*.log
*.tlog
*.cache


*.suo
*.obj
*.ipch
*.db
*.opendb
*.ilk

/NumAnalyzerNative/.vs/config/applicationhost.config
/NumAnalyzerNative/x64/Release/*.ipdb
/NumAnalyzerNative/x64/Release/*.iobj
/NumAnalyzerNative/NumanalyzerNative/Debug/*.idb
/NumAnalyzerNative/NumanalyzerNative/Debug/*.pdb
/NumAnalyzerNative/NumanalyzerNative/Release/vc141.pdb
/NumAnalyzerNative/.vs/NumanalyzerNative/v15/*.db-shm
/NumAnalyzerNative/.vs/NumanalyzerNative/v15/*.db-wal
/NumAnalyzerNative/NumAnalyzerConsoleTest/Debug/*.idb
/NumAnalyzerNative/NumAnalyzerConsoleTest/Debug/*.pdb
*.pch
*.pch
/NumAnalyzerNative/NumAnalyzerGUI/obj/Debug
/NumAnalyzerNative/NumAnalyzerGUI/bin
*.enc
/NumAnalyzerNative/NumAnalyzerConsoleTest/jsontest1.json
/NumAnalyzerNative/NumAnalyzerConsoleTest/jsontest.json
